/*  ================================
    Recipe example - basic style
    ================================ */

body {
  background-color: #FCC8C3;
  margin: 0;
  padding: 3%;
  font: 16px/1.5 "Lucida Grande", helvetica, arial, sans-serif;
}


a {
  color: #F0A39B;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  color: #F05B4B;
}

h1 {
  display: none;
}

h2 {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: .2em;
}

img {
  width: 100%;
}


#container {
  width: 600px;
  margin: 0 auto;
}

.recipe {
  padding: 3%;
  background-color: #fff;
}

.recipe .title {
  margin: 0 0 .5em 0;
  font-size: 36px;
}

.recipe figure {
  width: 400px;
  margin: 20px auto;
}

.recipe img {
  border: 1px solid #FCC8C3;
}

.recipe figcaption {
  color: #aaa;
  font-size: 11px;
  font-style: italic;
}

.recipe .meta dt,
.recipe .meta dd {
  display: inline;
}

.recipe .meta dd {
  clear: right;
  margin: 0 10px 0 0;
  font-weight: bold;
}

.recipe footer p {
  font-size: 14px;
  font-style: italic;
  color: #999;
}

.recipe footer .note {
  color: #aaa;
  font-size: 11px;
}



aside {
  background-color: #FCE1DD;
  text-align: center;
  padding: 5%;
}

aside .title {
  border-bottom: 1px solid #FC9A84;
}

aside .related-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 250px;
}

aside .related-list li {
  margin: 10% 0;
}

aside .related-list img {
  border: 1px solid #BDBAA7;
  background-color: #fff;
  padding: 5px;
}

